# Pair Programming Environment

In [1]:
thing= "This is a string"

In [2]:
thing

'This is a string'

In [3]:
Type(thing)

NameError: name 'Type' is not defined

In [4]:
typ(thing)

NameError: name 'typ' is not defined

In [5]:
david= str(carl)

NameError: name 'carl' is not defined

In [6]:
str(carl)

NameError: name 'carl' is not defined

In [7]:
89

89

In [8]:
type(89)

int

In [9]:
bool(89)

True

In [10]:
thing.split()

['This', 'is', 'a', 'string']

In [11]:
thing.count

In [14]:
thing.capitalize()

'This is a string'

In [15]:
type(thing)

str

In [16]:
thing.endswith("ing")

True

In [18]:
thing.endswith('tring')

True

In [19]:
89>3

True

In [21]:
'89' + thing

'89This is a string'

In [22]:
'89 '+ thing

'89 This is a string'

In [25]:
ageofperson= 26

In [33]:
ageofpotentialdate= 13

In [1]:
cats = ['Maine Coon', 'Tabby', 'Siamese', 'Garfield', 'Sylvester']

NameError: name 'cats' is not defined

In [3]:
type(cats)

list

In [6]:
cats.append('Jr.')

In [8]:
cats.remove('Jr.')

In [10]:
for cats("Jr.")

SyntaxError: invalid syntax (<ipython-input-10-86138c32ea25>, line 1)

In [6]:
for item in cats:
    cats2 = [item + "Jr."]

NameError: name 'cats' is not defined

In [41]:
cats = ['Maine Coon', 'Tabby', 'Siamese', 'Garfield', 'Sylvester']

cats_jrs=[]

for i in cats:
    i = i + ' Jr'

In [42]:
print(cats_jrs)

['Sylvester Jr.']

In [45]:
cat_jrs = [cat +' Jr.' for cat in cats]

In [46]:
cat_jrs

['Maine Coon Jr.', 'Tabby Jr.', 'Siamese Jr.', 'Garfield Jr.', 'Sylvester Jr.']

In [47]:
cats = ['Maine Coon', 'Tabby', 'Siamese', 'Garfield', 'Sylvester']

In [56]:
cats= ['Maine Coon', 'Tabby', 'Siamese', 'Garfield', 'Sylvester']

for all cat in cats:
    cat_jrs = [cat+ ' Jr.']

SyntaxError: invalid syntax (<ipython-input-56-959f479b27ae>, line 3)

In [57]:
dogs= ['Maine Coon', 'Tabby', 'Siamese', 'Garfield', 'Sylvester']

In [61]:
dogs_jrs = [dog+' Jrs.' for dog in dogs]

In [62]:
dogs_jrs

['Maine Coon Jrs.',
 'Tabby Jrs.',
 'Siamese Jrs.',
 'Garfield Jrs.',
 'Sylvester Jrs.']

In [66]:
dogs_jrs.sort()

In [67]:
dogs_jrs

['Garfield Jrs.',
 'Maine Coon Jrs.',
 'Siamese Jrs.',
 'Sylvester Jrs.',
 'Tabby Jrs.']

In [68]:
for dog in dogs_jrs:
    print(dog)

Garfield Jrs.
Maine Coon Jrs.
Siamese Jrs.
Sylvester Jrs.
Tabby Jrs.

In [69]:
dogs_jrs.index('Sylvester Jrs.')

3

In [70]:
Marks = ['Maine Coon', 'Tabby', 'Siamese', 'Garfield', 'Sylvester']

In [71]:
MarksJr=[]

for mark in Marks:
    Dale = mark+' Jr.'
    MarksJr.append(Dale)

In [73]:
MarksJr

['Maine Coon Jr.', 'Tabby Jr.', 'Siamese Jr.', 'Garfield Jr.', 'Sylvester Jr.']

In [74]:
MarksJr.sort()

In [75]:
MarksJr

['Garfield Jr.', 'Maine Coon Jr.', 'Siamese Jr.', 'Sylvester Jr.', 'Tabby Jr.']

In [80]:
MarksJr.sort(key=lambda x:x[2])

In [81]:
MarksJr

['Siamese Jr.', 'Tabby Jr.', 'Maine Coon Jr.', 'Sylvester Jr.', 'Garfield Jr.']

In [84]:
MarksJr.sort

[2, 3, 4, 5, 6, 7, 8, 9, 10]

In [22]:
primes

[]

In [5]:
for n in range(1,101):
    print(n)
    if n%2==1:
        print('is odd')
    if n%2==0 and n%7==0:
        print('is divisible by 14')
    if n%5==0 and n%2==1:
        print('high five!')
    if n>30 and n<45 and n%8==0:
        print('this happens twice!')

1
is odd
2
3
is odd
4
5
is odd
high five!
6
7
is odd
8
9
is odd
10
11
is odd
12
13
is odd
14
is divisible by 14
15
is odd
high five!
16
17
is odd
18
19
is odd
20
21
is odd
22
23
is odd
24
25
is odd
high five!
26
27
is odd
28
is divisible by 14
29
is odd
30
31
is odd
32
this happens twice!
33
is odd
34
35
is odd
high five!
36
37
is odd
38
39
is odd
40
this happens twice!
41
is odd
42
is divisible by 14
43
is odd
44
45
is odd
high five!
46
47
is odd
48
49
is odd
50
51
is odd
52
53
is odd
54
55
is odd
high five!
56
is divisible by 14
57
is odd
58
59
is odd
60
61
is odd
62
63
is odd
64
65
is odd
high five!
66
67
is odd
68
69
is odd
70
is divisible by 14
71
is odd
72
73
is odd
74
75
is odd
high five!
76
77
is odd
78
79
is odd
80
81
is odd
82
83
is odd
84
is divisible by 14
85
is odd
high five!
86
87
is odd
88
89
is odd
90
91
is odd
92
93
is odd
94
95
is odd
high five!
96
97
is odd
98
is divisible by 14
99
is odd
100

In [6]:
for x in range(1,100):
    for all n in range (1,100):
        if x%n

SyntaxError: invalid syntax (<ipython-input-6-05e2f80ebd34>, line 2)

In [2]:
primes=[2]

In [6]:
for num in range(3,1000):
    for prime in primes: 
        if num%all(prime)!=0: 
            primes.append(num)

TypeError: 'int' object is not iterable

In [8]:
primes

[2]

TypeError: 'int' object is not iterable

In [9]:
primes

[2]

In [11]:
def isprime(n):
    for i in primes
        while i*i >= n:
            if n%i!=0:
            return True

In [12]:
isprime(3)

NameError: name 'i' is not defined

In [10]:
prime=[2]

In [29]:
def is_prime(num):
    for i in primes:
        all(num%i == 0):
            return False

SyntaxError: invalid syntax (<ipython-input-29-b9d4d7fe11de>, line 3)

In [10]:
is_prime(3)

TypeError: 'bool' object is not iterable

In [15]:
def is_prime(num):
    for i in prime:
        if num==i:
            return True
        elif num%i == 0:
            return False
    return True

In [12]:
is_prime(4)

False

In [18]:
prime.append(2)

In [17]:
is_prime(2)

False

In [18]:
is_prime(3)

True

In [13]:
for x in range(3,1000):
    if is_prime(x)== True:
        print(x)
        prime.append(x)

3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293
307
311
313
317
331
337
347
349
353
359
367
373
379
383
389
397
401
409
419
421
431
433
439
443
449
457
461
463
467
479
487
491
499
503
509
521
523
541
547
557
563
569
571
577
587
593
599
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797
809
811
821
823
827
829
839
853
857
859
863
877
881
883
887
907
911
919
929
937
941
947
953
967
971
977
983
991
997

In [19]:
prime

[2,
 3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97,
 101,
 103,
 107,
 109,
 113,
 127,
 131,
 137,
 139,
 149,
 151,
 157,
 163,
 167,
 173,
 179,
 181,
 191,
 193,
 197,
 199,
 211,
 223,
 227,
 229,
 233,
 239,
 241,
 251,
 257,
 263,
 269,
 271,
 277,
 281,
 283,
 293,
 307,
 311,
 313,
 317,
 331,
 337,
 347,
 349,
 353,
 359,
 367,
 373,
 379,
 383,
 389,
 397,
 401,
 409,
 419,
 421,
 431,
 433,
 439,
 443,
 449,
 457,
 461,
 463,
 467,
 479,
 487,
 491,
 499,
 503,
 509,
 521,
 523,
 541,
 547,
 557,
 563,
 569,
 571,
 577,
 587,
 593,
 599,
 601,
 607,
 613,
 617,
 619,
 631,
 641,
 643,
 647,
 653,
 659,
 661,
 673,
 677,
 683,
 691,
 701,
 709,
 719,
 727,
 733,
 739,
 743,
 751,
 757,
 761,
 769,
 773,
 787,
 797,
 809,
 811,
 821,
 823,
 827,
 829,
 839,
 853,
 857,
 859,
 863,
 877,
 881,
 883,
 887,
 907,
 911,
 919,
 929,
 937,
 941,
 947,
 953,
 967,
 971,
 977,
 983,
 991,
 997,
 2]

In [27]:
is_prime(103)

In [23]:
prime.sort()

In [24]:
prime

[2,
 2,
 3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97,
 101,
 103,
 107,
 109,
 113,
 127,
 131,
 137,
 139,
 149,
 151,
 157,
 163,
 167,
 173,
 179,
 181,
 191,
 193,
 197,
 199,
 211,
 223,
 227,
 229,
 233,
 239,
 241,
 251,
 257,
 263,
 269,
 271,
 277,
 281,
 283,
 293,
 307,
 311,
 313,
 317,
 331,
 337,
 347,
 349,
 353,
 359,
 367,
 373,
 379,
 383,
 389,
 397,
 401,
 409,
 419,
 421,
 431,
 433,
 439,
 443,
 449,
 457,
 461,
 463,
 467,
 479,
 487,
 491,
 499,
 503,
 509,
 521,
 523,
 541,
 547,
 557,
 563,
 569,
 571,
 577,
 587,
 593,
 599,
 601,
 607,
 613,
 617,
 619,
 631,
 641,
 643,
 647,
 653,
 659,
 661,
 673,
 677,
 683,
 691,
 701,
 709,
 719,
 727,
 733,
 739,
 743,
 751,
 757,
 761,
 769,
 773,
 787,
 797,
 809,
 811,
 821,
 823,
 827,
 829,
 839,
 853,
 857,
 859,
 863,
 877,
 881,
 883,
 887,
 907,
 911,
 919,
 929,
 937,
 941,
 947,
 953,
 967,
 971,
 977,
 983,
 991,
 997]

In [25]:
prime.pop(2)

3

In [26]:
prime.pop(0)

2

In [1]:
prime.

SyntaxError: invalid syntax (<ipython-input-1-7f03789fe6ed>, line 1)

In [4]:
squares=[]

In [5]:
for x in range(1,1001):
    squares.append(x*x)

In [6]:
squares

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401,
 2500,
 2601,
 2704,
 2809,
 2916,
 3025,
 3136,
 3249,
 3364,
 3481,
 3600,
 3721,
 3844,
 3969,
 4096,
 4225,
 4356,
 4489,
 4624,
 4761,
 4900,
 5041,
 5184,
 5329,
 5476,
 5625,
 5776,
 5929,
 6084,
 6241,
 6400,
 6561,
 6724,
 6889,
 7056,
 7225,
 7396,
 7569,
 7744,
 7921,
 8100,
 8281,
 8464,
 8649,
 8836,
 9025,
 9216,
 9409,
 9604,
 9801,
 10000,
 10201,
 10404,
 10609,
 10816,
 11025,
 11236,
 11449,
 11664,
 11881,
 12100,
 12321,
 12544,
 12769,
 12996,
 13225,
 13456,
 13689,
 13924,
 14161,
 14400,
 14641,
 14884,
 15129,
 15376,
 15625,
 15876,
 16129,
 16384,
 16641,
 16900,
 17161,
 17424,
 17689,
 17956,
 18225,
 18496,
 18769,
 19044,
 19321,
 19600,
 19881,
 20164,
 20449,
 20736,
 21025,
 21316,
 21609,
 21904,
 22201,
 22500,
 22801,
 23104,
 23409,
 23716,
 24025,
 24336,
 24649,
 24964,
 25281,
 25600,
 25921,
 26244,
 26569,
 26896,
 27225,
 27556,
 27889,
 28224,
 28561,
 28900,
 29241,
 29584,
 29929,
 30276,
 30625,
 30976,
 31329,
 31684,
 32041,
 32400,
 32761,
 33124,
 33489,
 33856,
 34225,
 34596,
 34969,
 35344,
 35721,
 36100,
 36481,
 36864,
 37249,
 37636,
 38025,
 38416,
 38809,
 39204,
 39601,
 40000,
 40401,
 40804,
 41209,
 41616,
 42025,
 42436,
 42849,
 43264,
 43681,
 44100,
 44521,
 44944,
 45369,
 45796,
 46225,
 46656,
 47089,
 47524,
 47961,
 48400,
 48841,
 49284,
 49729,
 50176,
 50625,
 51076,
 51529,
 51984,
 52441,
 52900,
 53361,
 53824,
 54289,
 54756,
 55225,
 55696,
 56169,
 56644,
 57121,
 57600,
 58081,
 58564,
 59049,
 59536,
 60025,
 60516,
 61009,
 61504,
 62001,
 62500,
 63001,
 63504,
 64009,
 64516,
 65025,
 65536,
 66049,
 66564,
 67081,
 67600,
 68121,
 68644,
 69169,
 69696,
 70225,
 70756,
 71289,
 71824,
 72361,
 72900,
 73441,
 73984,
 74529,
 75076,
 75625,
 76176,
 76729,
 77284,
 77841,
 78400,
 78961,
 79524,
 80089,
 80656,
 81225,
 81796,
 82369,
 82944,
 83521,
 84100,
 84681,
 85264,
 85849,
 86436,
 87025,
 87616,
 88209,
 88804,
 89401,
 90000,
 90601,
 91204,
 91809,
 92416,
 93025,
 93636,
 94249,
 94864,
 95481,
 96100,
 96721,
 97344,
 97969,
 98596,
 99225,
 99856,
 100489,
 101124,
 101761,
 102400,
 103041,
 103684,
 104329,
 104976,
 105625,
 106276,
 106929,
 107584,
 108241,
 108900,
 109561,
 110224,
 110889,
 111556,
 112225,
 112896,
 113569,
 114244,
 114921,
 115600,
 116281,
 116964,
 117649,
 118336,
 119025,
 119716,
 120409,
 121104,
 121801,
 122500,
 123201,
 123904,
 124609,
 125316,
 126025,
 126736,
 127449,
 128164,
 128881,
 129600,
 130321,
 131044,
 131769,
 132496,
 133225,
 133956,
 134689,
 135424,
 136161,
 136900,
 137641,
 138384,
 139129,
 139876,
 140625,
 141376,
 142129,
 142884,
 143641,
 144400,
 145161,
 145924,
 146689,
 147456,
 148225,
 148996,
 149769,
 150544,
 151321,
 152100,
 152881,
 153664,
 154449,
 155236,
 156025,
 156816,
 157609,
 158404,
 159201,
 160000,
 160801,
 161604,
 162409,
 163216,
 164025,
 164836,
 165649,
 166464,
 167281,
 168100,
 168921,
 169744,
 170569,
 171396,
 172225,
 173056,
 173889,
 174724,
 175561,
 176400,
 177241,
 178084,
 178929,
 179776,
 180625,
 181476,
 182329,
 183184,
 184041,
 184900,
 185761,
 186624,
 187489,
 188356,
 189225,
 190096,
 190969,
 191844,
 192721,
 193600,
 194481,
 195364,
 196249,
 197136,
 198025,
 198916,
 199809,
 200704,
 201601,
 202500,
 203401,
 204304,
 205209,
 206116,
 207025,
 207936,
 208849,
 209764,
 210681,
 211600,
 212521,
 213444,
 214369,
 215296,
 216225,
 217156,
 218089,
 219024,
 219961,
 220900,
 221841,
 222784,
 223729,
 224676,
 225625,
 226576,
 227529,
 228484,
 229441,
 230400,
 231361,
 232324,
 233289,
 234256,
 235225,
 236196,
 237169,
 238144,
 239121,
 240100,
 241081,
 242064,
 243049,
 244036,
 245025,
 246016,
 247009,
 248004,
 249001,
 250000,
 251001,
 252004,
 253009,
 254016,
 255025,
 256036,
 257049,
 258064,
 259081,
 260100,
 261121,
 262144,
 263169,
 264196,
 265225,
 266256,
 267289,
 268324,
 269361,
 270400,
 271441,
 272484,
 273529,
 274576,
 275625,
 276676,
 277729,
 278784,
 279841,
 280900,
 281961,
 283024,
 284089,
 285156,
 286225,
 287296,
 288369,
 289444,
 290521,
 291600,
 292681,
 293764,
 294849,
 295936,
 297025,
 298116,
 299209,
 300304,
 301401,
 302500,
 303601,
 304704,
 305809,
 306916,
 308025,
 309136,
 310249,
 311364,
 312481,
 313600,
 314721,
 315844,
 316969,
 318096,
 319225,
 320356,
 321489,
 322624,
 323761,
 324900,
 326041,
 327184,
 328329,
 329476,
 330625,
 331776,
 332929,
 334084,
 335241,
 336400,
 337561,
 338724,
 339889,
 341056,
 342225,
 343396,
 344569,
 345744,
 346921,
 348100,
 349281,
 350464,
 351649,
 352836,
 354025,
 355216,
 356409,
 357604,
 358801,
 360000,
 361201,
 362404,
 363609,
 364816,
 366025,
 367236,
 368449,
 369664,
 370881,
 372100,
 373321,
 374544,
 375769,
 376996,
 378225,
 379456,
 380689,
 381924,
 383161,
 384400,
 385641,
 386884,
 388129,
 389376,
 390625,
 391876,
 393129,
 394384,
 395641,
 396900,
 398161,
 399424,
 400689,
 401956,
 403225,
 404496,
 405769,
 407044,
 408321,
 409600,
 410881,
 412164,
 413449,
 414736,
 416025,
 417316,
 418609,
 419904,
 421201,
 422500,
 423801,
 425104,
 426409,
 427716,
 429025,
 430336,
 431649,
 432964,
 434281,
 435600,
 436921,
 438244,
 439569,
 440896,
 442225,
 443556,
 444889,
 446224,
 447561,
 448900,
 450241,
 451584,
 452929,
 454276,
 455625,
 456976,
 458329,
 459684,
 461041,
 462400,
 463761,
 465124,
 466489,
 467856,
 469225,
 470596,
 471969,
 473344,
 474721,
 476100,
 477481,
 478864,
 480249,
 481636,
 483025,
 484416,
 485809,
 487204,
 488601,
 490000,
 491401,
 492804,
 494209,
 495616,
 497025,
 498436,
 499849,
 501264,
 502681,
 504100,
 505521,
 506944,
 508369,
 509796,
 511225,
 512656,
 514089,
 515524,
 516961,
 518400,
 519841,
 521284,
 522729,
 524176,
 525625,
 527076,
 528529,
 529984,
 531441,
 532900,
 534361,
 535824,
 537289,
 538756,
 540225,
 541696,
 543169,
 544644,
 546121,
 547600,
 549081,
 550564,
 552049,
 553536,
 555025,
 556516,
 558009,
 559504,
 561001,
 562500,
 564001,
 565504,
 567009,
 568516,
 570025,
 571536,
 573049,
 574564,
 576081,
 577600,
 579121,
 580644,
 582169,
 583696,
 585225,
 586756,
 588289,
 589824,
 591361,
 592900,
 594441,
 595984,
 597529,
 599076,
 600625,
 602176,
 603729,
 605284,
 606841,
 608400,
 609961,
 611524,
 613089,
 614656,
 616225,
 617796,
 619369,
 620944,
 622521,
 624100,
 625681,
 627264,
 628849,
 630436,
 632025,
 633616,
 635209,
 636804,
 638401,
 640000,
 641601,
 643204,
 644809,
 646416,
 648025,
 649636,
 651249,
 652864,
 654481,
 656100,
 657721,
 659344,
 660969,
 662596,
 664225,
 665856,
 667489,
 669124,
 670761,
 672400,
 674041,
 675684,
 677329,
 678976,
 680625,
 682276,
 683929,
 685584,
 687241,
 688900,
 690561,
 692224,
 693889,
 695556,
 697225,
 698896,
 700569,
 702244,
 703921,
 705600,
 707281,
 708964,
 710649,
 712336,
 714025,
 715716,
 717409,
 719104,
 720801,
 722500,
 724201,
 725904,
 727609,
 729316,
 731025,
 732736,
 734449,
 736164,
 737881,
 739600,
 741321,
 743044,
 744769,
 746496,
 748225,
 749956,
 751689,
 753424,
 755161,
 756900,
 758641,
 760384,
 762129,
 763876,
 765625,
 767376,
 769129,
 770884,
 772641,
 774400,
 776161,
 777924,
 779689,
 781456,
 783225,
 784996,
 786769,
 788544,
 790321,
 792100,
 793881,
 795664,
 797449,
 799236,
 801025,
 802816,
 804609,
 806404,
 808201,
 810000,
 811801,
 813604,
 815409,
 817216,
 819025,
 820836,
 822649,
 824464,
 826281,
 828100,
 829921,
 831744,
 833569,
 835396,
 837225,
 839056,
 840889,
 842724,
 844561,
 846400,
 848241,
 850084,
 851929,
 853776,
 855625,
 857476,
 859329,
 861184,
 863041,
 864900,
 866761,
 868624,
 870489,
 872356,
 874225,
 876096,
 877969,
 879844,
 881721,
 883600,
 885481,
 887364,
 889249,
 891136,
 893025,
 894916,
 896809,
 898704,
 900601,
 902500,
 904401,
 906304,
 908209,
 910116,
 912025,
 913936,
 915849,
 917764,
 919681,
 921600,
 923521,
 925444,
 927369,
 929296,
 931225,
 933156,
 935089,
 937024,
 938961,
 940900,
 942841,
 944784,
 946729,
 948676,
 950625,
 952576,
 954529,
 956484,
 958441,
 960400,
 962361,
 964324,
 966289,
 968256,
 970225,
 972196,
 974169,
 976144,
 978121,
 980100,
 982081,
 984064,
 986049,
 988036,
 990025,
 992016,
 994009,
 996004,
 998001,
 1000000]

In [5]:
import plotly

In [20]:
trace1= {'type':'line','x':[range(1,1001)], 'y':squares}

In [17]:
import plotly

In [18]:
plotly.offline.init_notebook_mode(connected=True)

In [19]:
plotly.offline.iplot([trace1])

PlotlyError: Invalid 'figure_or_data' argument. Plotly will not be able to properly parse the resulting JSON. If you want to send this 'figure_or_data' to Plotly anyway (not recommended), you can set 'validate=False' as a plot option.
Here's why you're seeing this error:

Invalid entry found in 'data' at index, '0'

Path To Error: ['data'][0]

It's invalid because it doesn't contain a valid 'type' value.

In [1]:
squares=[]

In [2]:
for x in range(1,1001):
    squares.append(x*x)

In [3]:
import plotly

In [4]:
plotly.offline.init_notebook_mode(connected=True)

In [7]:
trace1= {'x':range(1,1001), 'y':squares}

In [9]:
plotly.offline.iplot(trace1)

PlotlyError: Invalid 'figure_or_data' argument. Plotly will not be able to properly parse the resulting JSON. If you want to send this 'figure_or_data' to Plotly anyway (not recommended), you can set 'validate=False' as a plot option.
Here's why you're seeing this error:

'x' is not allowed in 'figure'

Path To Error: ['x']

Valid attributes for 'figure' at path [] under parents []:

    ['data', 'frames', 'layout']

Run `<figure-object>.help('attribute')` on any of the above.
'<figure-object>' is the object at []

In [1]:
guesses= [1]

def bab(num):
    for guess in guesses:
        new= (((guess+num)/guess)/2)
        guesses.append(new)
        if guesses[-1]==guesses[-2]:
            print(guesses(-1))
        if guesses(-1)!=guesses(-2):
            continue

In [12]:
bab(3)

TypeError: 'list' object is not callable

In [2]:
bab(100)

TypeError: 'list' object is not callable

In [1]:
!pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.6/site-packages
Requirement already satisfied: python-dateutil>=2.5.0 in /opt/conda/lib/python3.6/site-packages (from pandas)
Requirement already satisfied: pytz>=2011k in /opt/conda/lib/python3.6/site-packages (from pandas)
Requirement already satisfied: numpy>=1.9.0 in /opt/conda/lib/python3.6/site-packages (from pandas)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.6/site-packages (from python-dateutil>=2.5.0->pandas)
You are using pip version 9.0.1, however version 10.0.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [1]:
def add(num1, num2):
    return num1+num2
def subtract(num1, num2):
    return num1-num2
def multiply(num1, num2):
    return num1*num2
def divide(num1, num2):
    divtype= input('Type d for regular division and m for modular division: ')
    
    if divtype== 'd':
        return num1/num2
    elif divtype== 'm':
        return num1%num2
    else:
        print('This is not a valid division type. Please try again.')
        return divide(num1,num2)

def calculator():
    cont='y'
    while cont=='y':
        
        print("Please select operation -\n" \
            "1. Add\n" \
            "2. Subtract\n" \
            "3. Multiply\n" \
            "4. Divide\n")

        select = int(input('Select operation from 1, 2, 3, 4 : '))
    
        if 0<select<5:
            number_1 = float(input('\nEnter first number: '))
            number_2 = float(input('Enter second number: '))
        
            if select==1:
                print('{} + {} = {}'.format(number_1, number_2, add(number_1,number_2)))
            elif select==2:
                print('{} - {} = {}'.format(number_1, number_2, subtract(number_1,number_2)))
            elif select==3:
                print('{} x {} = {}'.format(number_1, number_2, multiply(number_1,number_2)))
            elif select==4:
                print('{} / {} = {}'.format(number_1, number_2, divide(number_1,number_2)))
            
            cont=input('\n**Continue?** (y/n): ')
        
        else:
            print('\n{} is not an executable operation. Please try again.'.format(select))
            return calculator()

In [1]:
calculator()

NameError: name 'calculator' is not defined